<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 3</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> 
</head>
<body>
    <h1>Upload Incident Files</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="files" accept=".pdf" multiple>
        <button type="submit">Visualize</button>
    </form>
</body>
</html>

